


body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
header {
  background-image: url(./img/background.jpg);
  width:  100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  
}

.section1 {
  margin-top: 110px;

  background: #fff;
  width: 348px;
  height: 311px;
}
.section2 {
  position: relative;
}
.section2 a:hover {
  background: #242121;
}

.section2 a:nth-child(1) {
  left: 190px;
  top: 25px;
  border-radius: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
  background: #dedede;
}

.section2 a:nth-child(2) {
  left: 170px;
  top: 25px;
  border-radius: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
  background: #dedede;
}
.section2 a:nth-child(3) {
  left: 150px;
  top: 25px;
  border-radius: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
  background: #8b8989;
}
#a1 {
  display: none;  
}
.as1 {
  color: #dedede;
  display: block;
  text-align: center;
  cursor: pointer;
  padding: 15px 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  position: relative;
}
.as1::before {
  content: "";
  background-image: url('./img/visa.svg');
  width: 45px;
  height: 30px;
  background-size: contain;
  position: absolute;
  left: 25px;
  top:  9px;

}
#a2 {
  display: none;
}
.as2 {
  color: #dedede;
  display: block;
  text-align: center;
  cursor: pointer;
  padding: 15px 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  position: relative;
}
.as2::before {
  content: "";
  background-image: url('./img/mastercard.svg');
  width: 45px;
  height: 30px;
  background-size: contain;
  position: absolute;
  left: 25px;
  top:  9px;
}
.as2::after {
  content: "";
  background-image: url('./img/check.svg');
  width: 45px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 25px;
  top:  9px;
}
#a3 {
  display: none;
}
.as3 {
  color: #dedede;
  display: block;
  text-align: center;
  cursor: pointer;
  padding: 15px 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  position: relative;
}
.as3::before {
  content: "";
  background-image: url('./img/maestro.svg');
  width: 45px;
  height: 30px;
  background-size: contain;
  position: absolute;
  left: 25px;
  top:  9px;
}

.as1:hover {
  background: #dedede;
  color: #080808;
  font-weight: bold;
}
.as2:hover {
  background: #dedede;
  color: #080808;
  font-weight: bold;
}
.as3:hover {
  background: #dedede;
  color: #080808;
  font-weight: bold;
}
.last:active {
  border-top: 3px solid #ffffff;
  /* padding-top: 12px; */
  /* font-size: 12px; */
}
.last:hover {
  background: #457fdb;
}
.last {
  color: #fff;
  font-weight: 600;
  border: none;
  display: block;
  padding: 15px 110px;
  background: #598BDD;
  position: relative;
}
.last:after {
  content: "";
  position: absolute;
  background-image: url('./img/arrow.svg');
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: -3px;
  width: 35px;
  height: 35px;
}

.section1 h1 {
  /* position: relative; */
  text-align: center;
  margin-top: 35px;
  margin-bottom: 40px;
}




/* .section1 h1::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background: rgb(136, 128, 126);
  top: -15px;
} */


/* header section {
  margin-top: 150px;
}
section {
  position: relative;
  width: 150px;
  height: 190px;
  background: #ffffff;
  padding: 25px 60px;
}
ul {
  padding: 0;
}
li {
  padding: 0;
  list-style-type: none;
}

section a img {
  width: 8px;
  height: 8px;
  background: #DEDEDE;
  border-radius: 50%;
  
}
li:hover {
  background: #DEDEDE;
}
li {
  position: relative;
  padding: 7px;
  border-bottom: 1px solid #DEDEDE;
}
.li1::before {
  content: "";
  background-image: url('./img/visa.svg');
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 45px;
  height: 20px;
  left: -50px;
  top: 2px;
}
.li2::before {
  content: "";
  background-image: url('./img/mastercard.svg');
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 45px;
  height: 25px;
  left: -50px;
  top: 2px;
}
.li2::after {
  content: "";
  background-image: url('./img/check.svg');
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  width: 45px;
  height: 33px;
  right: -50px;
  top: -1px;
}
.li3::before {
  content: "";
  background-image: url('./img/maestro.svg');
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 45px;
  height: 25px;
  left: -50px;
  top: 2px;
}
.a2.a1 {
  background: #aaaaaa;
}


.a-last {
  width: 0px;
  height: 00px;
  background-color: #4F80D7;
  padding: 10px 30px;
} */






/* section::before {
  content: "";
  background-image: url(./img/arrow.svg);
  position: absolute;
  background-size: contain;
  background: #DEDEDE;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  top: 5px;
  right: 75px;

}
section::after {
  content: "";
  background-image: url(./img/check.svg);
  position: absolute;
  background-size: contain;
  background: #ca2121;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  top: 5px;
  right: 85px;

} */

